<div class="app-toolbar">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span routerLink="/">My Task</span>
            <span class="example-spacer"></span>
            <span routerLink="/" routerLinkActive="active-list-item" [routerLinkActiveOptions]="{exact: true}">Home</span> &nbsp; &nbsp;
            <span routerLink="/manageTask" routerLinkActive="active-list-item" [routerLinkActiveOptions]="{exact: true}">ManageTask</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>