.example-spacer {
    flex: 1 1 auto;
  }
  .app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.mat-toolbar.mat-primary {
    background: #00b694;
    color: #fff;
  }
  span{
      cursor: pointer;
  }
  .active-list-item {
    color: rgb(116, 117, 124); /* Note: You could also use a custom theme */
  }