<app-header></app-header> <br>
<div *ngIf="keys && keys.length;else noItems" class="main-overview">
        <div *ngFor="let key of keys" class="overviewcard">
            <div class="overviewcard__icon"><img src="{{beers[key]['beer'].image}}" alt="Smiley face" width="42" height="42"></div>
            <div class="overviewcard__info">
             <strong>
                    {{beers[key]['beer'].title}}
             </strong>   <br>
               {{beers[key]['beer'].desc}}        </div>
            <div class="fav" (click)="removeFavourite(key, beers[key].beer,beers[key].key)">
                <mat-icon >delete</mat-icon>
            </div>
    
        </div>
    </div>

<ng-template #noItems >
    <div class="center">
        <span style="color:grey;font-size: 20px;text-align:center">There is nothing here. To add some <a routerLink="/">Click Here</a></span>
    </div>
</ng-template>