<app-header></app-header>
<br>
<div class="search">
    <mat-form-field>
        <mat-label>Filter Task</mat-label>
        <mat-select>
            <mat-option (click)="sortByName()" [value]="'Name'">
                Name
            </mat-option>
            <mat-option (click)="sortByDate()" [value]="'Date'">
                Date
            </mat-option>
            <mat-option (click)="sortByCompleted()" [value]="'Completed'">
                Completed
            </mat-option>
            <mat-option (click)="sortByImportant()" [value]="'Important'">
                Important
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="main-overview">
    <div *ngFor="let key of keys" class="overviewcard">
        <div class="overviewcard__icon"><img src="{{tasks[key].url}}" alt="Smiley face" width="42" height="42"></div>
        <div class="overviewcard__info">
            <strong> {{tasks[key].name}} </strong><br>
            {{tasks[key].date | date}} <br>
            {{tasks[key].description}} </div>
        <div class="fav">
            <mat-icon class="cursor" *ngIf="tasks[key].completed">done</mat-icon>
            &nbsp; <mat-icon class="cursor" *ngIf="!tasks[key].important">star_border</mat-icon>
            <mat-icon class="cursor" *ngIf="tasks[key].important">star</mat-icon>
        </div>

    </div>
</div>